@import "@styles/base";

.navbar {
  background: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .navbarBrand {
    height: 112px;
    @include directionX;
    margin-left: 165px;
    margin-right: 165px;
    align-items: center;
    justify-content: space-between;
    @include apply-at-sm-size {
      height: 68px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .leftBrand {
      @include directionX;
      align-items: center;
      .btnMobile {
        display: none;
        @include apply-at-sm-size {
          display: flex;
          padding-right: 15px;
        }
      }
      .titleBrand {
        color: $black;
        font-family: "Outfit", sans-serif;
        font-size: 31px;
        font-weight: 700;
        width: 137px;
        padding-bottom: 10px;
        @include apply-at-sm-size {
        }
      }
      .menuBrand {
        @include directionX;
        padding-left: 58px;
        column-gap: 32px;
        color: $gray;
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        box-sizing: border-box;
        @include apply-at-xl-size {
          display: none;
        }
        .listBrand {
          height: 112px;
          display: flex;
          align-items: center;
          cursor: pointer;
          align-items: center;
        }
        .listBrand:hover {
          border-bottom: 2px solid $orange;
        }
      }
    }
    .rightNavbar {
      @include directionX;
      column-gap: 45px;
      align-items: center;
      @include apply-at-sm-size {
        column-gap: 15px;
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 150;
    position: fixed;
    top: 0;
    .sidebarMenu {
      width: 300px;
      height: 100vh;
      position: absolute;
      background-color: white;
      z-index: 151;
      .closeMobile {
        width: 20px;
        margin-top: 30px;
        margin-left: 25px;
      }
      ul li {
        list-style: none;
      }
      .sidebarBrand {
        margin-left: 25px;
        margin-top: 50px;
        line-height: 40px;
        font-weight: 700;
      }
    }
  }
}
