@import "@styles/base";

.navbar {
  background: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .navbarBrand {
    height: 112px;
    @include directionX;
    margin-left: 165px;
    margin-right: 165px;
    align-items: center;
    justify-content: space-between;
    .leftBrand {
      @include directionX;
      align-items: center;
      .titleBrand {
        color: $black;
        font-family: "Outfit", sans-serif;
        font-size: 31px;
        font-weight: 700;
        width: 137px;
      }
      .menuBrand {
        @include directionX;
        padding-left: 58px;
        column-gap: 32px;
        color: $gray;
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        box-sizing: border-box;
        .listBrand {
          height: 112px;
          display: flex;
          align-items: center;
          cursor: pointer;
          align-items: center;
        }
        .listBrand:hover {
          border-bottom: 2px solid $orange;
        }
      }
    }
    .rightNavbar {
      @include directionX;
      column-gap: 45px;
      align-items: center;
    }
  }
}
