@import "@styles/base";

.content {
  @include directionX;
  margin-top: 50px;
  margin-left: 211px;
  margin-right: 232px;
  .imageProduct {
    @include directionY;
    row-gap: 30px;
    .thumbnail img {
      border-radius: 15px;
    }
    .product {
      @include directionX;
      column-gap: 50px;
      .thumbnailImage {
        width: 62px;
        height: 62px;
        margin-right: 10px;
        cursor: pointer;
      }
      img:hover {
        opacity: 0.6;
      }
      .thumbnailImage:hover {
        background: white;
      }
      .activeThumbnail img {
        border-radius: 7px;
        opacity: 0.5;
        border: 3px solid $orange;
      }
    }
    .product img {
      border-radius: 7px;
    }
  }
  .description {
    margin-top: 50px;
    margin-left: 130px;
    .productCompany {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;
      text-transform: uppercase;
      color: $orange;
    }
    .productName {
      margin-top: 19px;
      font-size: 44px;
      font-weight: 700;
      color: $very-dark-blue;
      line-height: 48px;
    }
    .productDescription {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: $gray;
    }
    .price {
      @include directionX;
      column-gap: 10px;
      margin-top: 30px;
      .priceDiscount {
        font-size: 30px;
        font-weight: 700;
        line-height: 26px;
      }
      .box {
        width: 51px;
        height: 27px;
        border-radius: 5px;
        background: var(--pale-orange, #ffede0);
        .discount {
          font-size: 16px;
          font-weight: 700;
          line-height: 26px;
          color: $orange;
          text-align: center;
        }
      }
    }
    .normalPrice {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.48px;
      color: $very-dark-blue;
    }
    .cartProduct {
      @include directionX;
      column-gap: 10px;
      margin-top: 20px;
      .boxAdd {
        @include directionX;
        justify-content: space-between;
        width: 157px;
        height: 55px;
        align-items: center;
        padding: 10px 16px;
        border-radius: 10px;
        background-color: $ligh-gray;
        .numberProduct {
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1.28px;
          color: $black;
        }
      }
      .boxCart {
        @include directionX;
        width: 273px;
        height: 54px;
        padding: 17px 77px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 8px 10px 0px #ffede0;
        background-color: $orange;
        border-radius: 10px;
        .imageCart {
          color: white;
        }
        .addToCart {
          font-size: 16px;
          color: $white;
          font-weight: 700;
        }
      }
    }
  }
}
